<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>بنیاد خیریه کودک</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body dir = "rtl">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><span class="glyphicon glyphicon-globe"></span> بنیاد کودک</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/madadkar/">خانه</a>
                    </li>
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">امور مالی <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/madadkar/afzayesh_etebar">افزایش اعتبار</a></li>
							<li><a href="/madadkar/moshahede_tarakonesh_haye_mali">مشاهده تراکنش های مالی</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">صندوق پیام ها<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/madadkar/ersal_payam">ارسال پیام به دیگر کاربران</a></li>
							<li><a href="/madadkar/sandoghe_payamhaye_daryafti">صندوق پیام های دریافتی</a></li>
							<li><a href="/madadkar/sandoghe_payamhaye_ersali">صندوق پیام های ارسالی</a></li>
							<li><a href="/madadkar/sandoghe_payamhaye_entezar">صندوق پیام های در انتظار تایید</a></li>
						</ul>
					</li>
                    <li>
                        <a href="/madadkar/roydad_ha">رویداد ها</a>
                    </li>
                    <li>
                        <a href="/madadkar/profile">پروفایل شخصی</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">درباره ما<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/madadkar/ashnai">آشنایی با موسسه</a></li>
							<li><a href="/madadkar/sakhtar_sazmani">ساختار سازمانی</a></li>
							<li><a href="/madadkar/ahdaf">اهداف و دیدگاه ها</a></li>
						</ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">
			<!-- Form -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align=right >
						<span class="glyphicon glyphicon-log-in"></span>
						نام کاربر
					</h3>
				</div>
				<div class="panel-body" align= right >
					<form>
						<button type="submit" class="btn btn-default"><a href="/index/">خروج</a></button>
					</form>
				</div>
			</div>
			<button type="submit" class="btn btn-default" style="width: 100%"><a href="/madadkar/sabte_naam_madadju" style="color: black">افزودن مددجو</a></button>

		</div><!--/Left Column-->


		<!-- Center Column -->
		<div class="col-sm-6">

			<!-- Alert -->
			<div class="panel panel-default" align=right>
				<div class="panel-heading">
					<h1 class="panel-title"><img src="/static/img/alarm.jpg" width="3%" alt="avatar" style="padding-left: 5px"><strong>مددجوی شماره ۱</strong> </h1>
				</div>
				<div class="list-group">
					<div class="list-group-item">
					<table>
						<tr>
							<td>
								<p><strong>خوراک</strong></p>
							</td>
							<td style="padding-right: 5px">
								<p class="pull-right">
									<span class="label label-default">تامین شده ۲۰۰۰۰ هزار تومان</span>
									<span class="label label-default">تامین شده ۳۰۰۰۰ هزار تومان</span>
									<span class="label label-default">فوری</span>
								</p>
							</td>
							<td style="width: 20px"></td>
							<td>
								<button type="submit" class="btn btn-default"><a href="/madadkar/virayesh_niaz" style="color: black">ویرایش</a></button>
							</td>
							<td>
								<button type="submit" class="btn btn-default"><a href="/madadkar/niaz_haye_madadju" style="color: black">حذف</a></button>
							</td>
						</tr>
					</table>
					</div>
					<div class="list-group-item">
					<table>
						<tr>
							<td>
								<p><strong>پوشاک</strong></p>
							</td>
							<td style="padding-right: 5px">
								<p class="pull-right">
									<span class="label label-default">تامین نشده ۰ هزار تومان</span>
									<span class="label label-default">تامین شده ۵۰۰۰۰ هزار تومان</span>
									<span class="label label-default">سالانه</span>
								</p>
							</td>
							<td style="width: 20px"></td>
							<td>
								<button type="submit" class="btn btn-default"><a href="/madadkar/virayesh_niaz" style="color: black">ویرایش</a></button>
							</td>
							<td>
								<button type="submit" class="btn btn-default"><a href="/madadkar/niaz_haye_madadju" style="color: black">حذف</a></button>
							</td>
						</tr>
					</table>
					</div>
				</div>
			</div>
			<button type="add" class="btn btn-default"><a href = "/madadkar/afzoudan_niaz" style="color: black">افزودن نیاز جدید</a></button>
			<button type="add" class="btn btn-default"><a href = "/madadkar/profile_madadju" style="color: black">بازگشت</a></button>

			<hr>
		</div>


	  <!-- Right Column -->
	  <div class="col-sm-3">



			<!-- List-Group Panel -->
			<div class="panel panel-default" align=right>
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-random"></span>امور اختصاصی </h1>
				</div>
				<div class="list-group">
					<a href="/madadkar/moshahede_niaz_haye_tamin_nashode" class="list-group-item">مشاهده لیست نیازهای تامین نشده</a>
					<a href="/madadkar/moshahede_niaz_haye_tamin_nashode_fori" class="list-group-item">مشاهده لیست نیازهای تامین نشده فوری</a>
				</div>
			</div>



			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span>
						Dramatically Engage
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							100% Proactively Envisioned
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%">
							80% Objectively Innovated
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							45% Portalled
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							35% Done
						</div>
					</div>
				</div>
			</div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->

	<footer>
		<center>
        <div class="small-print">
          <div class="container">
            <p><a href="#">Telegram</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a></p>
            <p>  تمامی حقوق برای بنیاد خیریه کودک محفوظ است.&copy; </p>
          </div>
        </div>
    	</center>
  	</footer>


    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

	<!-- Placeholder Images -->
	<script src="/static/js/holder.min.js"></script>

</body>

</html>
