<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html dir = "rtl" lang="ar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>بنیاد خیریه کودک</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--&lt;!&ndash;[if lt IE 9]>-->
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> بنیاد کودک</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/modir/modir">خانه</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">درباره ما<span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="/modir/ashnai">آشنایی با موسسه</a></li>
							<li><a href="/modir/sakhtar_sazmani">ساختار سازمانی</a></li>
							<li><a href="/modir/ahdaf">اهداف و دیدگاه ها</a></li>
						</ul>
                    </li>   
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">
			<!-- Form --> 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align=right >
						<span class="glyphicon glyphicon-log-in"></span> 
						نام کاربر
					</h3>
				</div>
				<div class="panel-body" align= right >
					<form>
						<button type="submit" class="btn btn-default"><a href="/karbar/index">خروج</a></button>
					</form>
				</div>
			</div>	
			<center>
			<button type="submit" class="btn btn-default"><a href="/modir/sabtename_madadkar">ثبتنام مددکار</a></button>
			<button type="submit" class="btn btn-default"><a href="/modir/sabtename_modir_karshenas">ثبتنام مدیر کارشناس</a></button>
			</center>
		</div>
		
		<!--/Left Column-->
  
  
		<!-- Center Column -->
		<div class="col-sm-6">
		
			<!-- Alert -->
						<div class="panel panel-default">
				<div class="panel-heading" >
					<h3 class="panel-title" align = "right">
						ثبتنام مددکار
						<span class="glyphicon glyphicon-log-in" ></span> 
					</h3>
				</div>
				<div class="panel-body" align="right">
					<form>
						<div class="form-group" align="right">
							<table align="right">
								<tr>
									<td> نام مددکار</td><td><input type="text" class="form-control" id="madadkar_name" name="madadkar_name" placeholder="نام مددکار"> </td>
									<td>نام خانوادگی مددکار</td><td><input type="text" class="form-control" id="hamyar_family" name="hamyar_family" placeholder="نام خانوادگی مددکار"> </td>
								</tr>
								<tr>
									
								
								<tr>
									<td>پست الکترونیکی مددکار</td><td><input type="email" class="form-control" id="madadkar_mail" name="madadkar_mail" placeholder="email"></td>
									<td>شماره تماس مددکار</td><td><input type="telNo" class="form-control" id="phone_madadkar" name="phone_madadkar" placeholder="شماره تماس مددکار"></td>
								</tr>
								<tr>
									<td>آدرس محل کار</td><td><input type="text" class="form-control" id="address_mahale_kar" name="address_mahale_kar" placeholder="آدرس محل کار"></td>
								</tr>
								
							</table>
						</div>
						<button type="add" class="btn btn-default">  تایید</button>
					</form>
				</div>
			</div>
			<hr>
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">

<!-- List-Group Panel -->
			<div class="panel panel-default" align="right">
				<div class="panel-heading">
					<h1 class="panel-title" align="right">  فهرست<span class="glyphicon glyphicon-random"></span></h1>
				</div>
				<div class="list-group">
					<a href="/modir/moshahede_list_koodakan" class="list-group-item">مشاهده‌ لیست کودکان </a>
					<a href="/modir/moshahede_hamyaran_dar_entezar_taeid" class="list-group-item">مشاهده‌ لیست همیاران در انتظار تایید </a>
					<a href="/modir/moshahede_madadjuyan_dar_entezar_madadkar" class="list-group-item">مشاهده لیست مددجویان در انتظار مددکار</a>
					<a href="/modir/moshahede_list_niazhaye_fori_taminnashode" class="list-group-item">مشاهده لیست نیازهای فوری تامین نشده مددجویان</a>
					<a href="/modir/list_omur_kheyrie" class="list-group-item">مشاهده لیست امور خیریه</a>
					<a href="/modir/moshahede_etelat_mali_karbaran" class="list-group-item">مشاهده‌ی اطلاعات مالی همه کرابران</a>
					
				</div>
			</div>

 
			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align="right">
						نمودار تامین نیازها
						<span class="glyphicon glyphicon-scale"></span> 
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="97"
						aria-valuemin="0" aria-valuemax="100" style="width:97%">
							۹۷٪ نیازهای مددجویان تامین شده است.
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%" align="right"><rtl>
							۸۰٪ نیازهای فوری مددجویان تامین شده است.
						</rtl>
						</div>
					</div>
				</div>
			</div>


	  </div><!--/Right Column -->

	</div><!--/container-fluid-->
<center>
	<footer>
        <div class="small-print">
          <div class="container">
            <p><a href="#">Telegram</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a></p>
            <p>  تمامی حقوق برای بنیاد خیریه کودک محفوظ است.&copy; </p>
          </div>
        </div>
  </footer>
  </center>

	
    <!-- jQuery -->
    <script src="../js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="../js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="../js/holder.min.js"></script>
	
</body>

</html>
